body{
    background-image: url('https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?t=st=1737871973~exp=1737875573~hmac=d72e77b46ea7be35aa34a7e2ff6f8d63f65204e8e9cff1ba4fbd326c2893fc7b&w=740');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.form_container{
    background: linear-gradient(rgb(145, 185, 199),rgb(94, 147, 165),rgb(122, 57, 105));

}
.inputs input{
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
}
.inputs{
    background-color: rgb(222, 222, 235);
    /* width: 50%; */
    height: 40px;
}
.inputs span{
    font-size: 16px;
}
.inputs select{
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    
}
#defaultoption{
    color: light grey;
}
.custom-input::-webkit-inner-spin-button,
  .custom-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.btn{
    background: linear-gradient(to right, rgb(204, 182, 182) , rgb(70, 148, 67));
    border: none;
    color: black;

}
.btn:hover{
    background: linear-gradient(to right, rgb(179, 159, 159) , rgb(59, 124, 57));

}

@media(max-width:800px){
    body{
        height: 900px;
        
    }
    
}
@media(max-width:490px){
    form{
        width: 100%;
        height: 100%;

    }
    
    
}
@media(min-width:800px){
    body{
        height: 100vh;
    }
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .animate-pulse {
    animation: pulse 1.5s infinite;
  }
  